<div uk-grid>
    <div class="uk-width-1-6@m">
      <app-sidebar [categoria]="categoria" ></app-sidebar>
    </div>
    <div class="uk-width-5-6@m scrollable-pannel">
      <app-products-list [curcat]="curcat" [products]="products.publications" [count]="products.count"></app-products-list>
    </div>
</div>