<!--The content below is only a placeholder and can be replaced.-->
<app-header *ngIf="currout !== '/auth' &&  currout !== '/complete-register' &&  currout !== '/terminos-y-condiciones'"></app-header>
<router-outlet>
    
</router-outlet>
