<app-paginator [curcat]="curcat" [count]="count"></app-paginator>
<div class="uk-container adstore-product-list-container">
    <div uk-grid class="paddnone">
        <app-product-card class="uk-width-1-4@m"  [goto]="'/detalle-producto/'+product._id"*ngFor="let product of products; index as i;" [product]="product"></app-product-card>
    </div>
</div>
