.adstore-sidebar{
    height: calc(100vh - 100px);
    background: rgba(0, 0, 0, 0.78);
    .uk-active{
        background: #000000;
    }
    li{
        padding-left: 20px;
        a{
            color: #fff;
            line-height: 51px;
            font-size: 1rem;
            .img-category{
                width: 36px;
                margin-top: -11px;
            }
        }
    }
    .nopad{
        padding: 0px;
    }
}