<div uk-grid class="adstore-sidebar">
    <div class="uk-width-1-1@s uk-width-1-1@m">
        <ul *ngIf="isadmin" class="uk-nav-primary uk-nav-parent-icon uk-nav uk-nav-default">
            <li >
                <a [routerLink]="'/admin/categorias'">
                    Categorias
                </a> 
            </li>
            <li >
                <a [routerLink]="'/admin/ordenes'">
                    Ordenes
                </a> 
            </li>
            <li >
                <a [routerLink]="'/admin/usuarios'">
                    Usuarios
                </a> 
            </li>
            <li >
                <a [routerLink]="'/admin/list'">
                    Productos
                </a>
            </li>
        </ul>
        <ul class="uk-nav-primary uk-nav-parent-icon uk-nav uk-nav-default" *ngIf="!isadmin">
            <li [className]="categoria === category._id && 'uk-active'" *ngFor="let category of categories">
                <a [routerLink]="'/filtro/'+category._id">
                    <img *ngIf="category.img" [src]="globaluri+category.img" class="img-category" />
                    {{category.name}}
                </a> 
            </li>
        </ul>
    </div>
</div>
