<div class="uk-section scrollable-pannel">
    <div class="uk-container " >
      <div uk-grid class="uk-child-width-2-2@s">
        <a routerLink="../../list">Home</a>

            <!-- <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map> -->
                  <div id="modal-aviso" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                
                        <p>{{avisomodal}}</p>
                
                    </div>
                </div>
                <div uk-alert  *ngIf="publication.isactive">
                    <a class="uk-alert-close" uk-close></a>
                    <h3>Aviso</h3>
                    <p>Si seleccionas el atributo "Mostrar" quedara publicado tu articulo</p>
                </div>
          <form #toPublishForm="ngForm" (ngSubmit)="onSubmit()">
              <fieldset class="uk-fieldset">
          
                  <legend class="uk-legend">{{publication.title}}</legend>
                  <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                      <label><input class="uk-radio" type="radio" name="isactive" #isactive="ngModel" [(ngModel)]="publication.isactive" [value]="true" checked required>Mostrar</label>
                      <label><input class="uk-radio" type="radio" name="isactive" #isactive="ngModel" [(ngModel)]="publication.isactive" [value]="false" required>No mostrar aun</label>
                      <p class="errorWarn">
                        <small *ngIf="!isactive.valid && isactive.touched">
                            Este campo es obligatorio
                        </small>
                    </p>
                    </div>
                  <div class="uk-margin">
                      <input class="uk-input" type="text" placeholder="Titulo de tu publicacion" name="title" #title="ngModel" [(ngModel)]="publication.title" required>
                      <p class="errorWarn">
                        <small *ngIf="!title.valid && title.touched">
                            Este campo es obligatorio
                        </small>
                    </p>
                    </div>
                    <div uk-grid>
                        <div class="uk-width-1-3">
                            <div class="uk-margin">
                                <label>Precio por unidad</label>
                                <input class="uk-input" type="text" currencyMask [options]="{ prefix: '$ ', thousands: '.', precision: 0 }" placeholder="Precio" name="price" #price="ngModel" [(ngModel)]="publication.price" required>
                                <p class="errorWarn">
                                  <small *ngIf="!price.valid && price.touched">
                                      Este campo es obligatorio
                                  </small>
                              </p>
                            </div>
                        </div>
                        <div class="uk-width-1-3">
                            <div class="uk-margin">
                                <label>Tipo de unidad</label>
                                <input class="uk-input" type="text" placeholder="Tipo de unidad" name="type_unit" #type_unit="ngModel" [(ngModel)]="publication.type_unit" required>
                                <p class="errorWarn">
                                    <small *ngIf="!type_unit.valid && type_unit.type_unit">
                                        Este campo es obligatorio
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="uk-width-1-3">
                            <div class="uk-margin">
                                <label>Unidades por paquete</label>
                                <input class="uk-input" type="number" placeholder="unidades por paquete" name="units_pack" #units_pack="ngModel" [(ngModel)]="publication.units_pack" required>
                                <p class="errorWarn">
                                    <small *ngIf="!units_pack.valid && units_pack.touched">
                                        Este campo es obligatorio
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                  
          
                  <div class="uk-margin">
                    <label>
                      Categoria
                    </label>
                      <select class="uk-select" name="category" #category="ngModel" [(ngModel)]="publication.category" required>
                          <option  *ngFor="let category of categories" [ngValue]="category._id" [selected]="category._id === publication.category" > {{category.name}}</option>
                      </select>
                      <p class="errorWarn">
                        <small *ngIf="!category.valid && category.touched">
                            Este campo es obligatorio
                        </small>
                    </p>
                  </div>
          
                  <div class="uk-margin">
                      <textarea class="uk-textarea" rows="5" placeholder="Describe tu publicación aqui" name="description" #description="ngModel" [(ngModel)]="publication.description" required></textarea>
                      <p class="errorWarn">
                        <small *ngIf="!description.valid && description.touched">
                            Este campo es obligatorio
                        </small>
                    </p>
                  </div>
                  <div uk-grid>
                        <div class="uk-margin uk-width-1-3@m uk-width-3-3@s">
                            <input class="uk-input" type="text" placeholder="Material" name="material" #material="ngModel" [(ngModel)]="publication.material" >
                            <p class="errorWarn">
                                <small *ngIf="!material.valid && material.touched">
                                    Este campo es obligatorio
                                </small>
                            </p>
                        </div>
                        <div class="uk-margin uk-width-1-3@m uk-width-3-3@s">
                                <label><input class="uk-radio" type="radio" name="tunning" #tunning="ngModel" [(ngModel)]="publication.tunning" [value]="true" checked > Personalizable</label>
                                <br>
                                <label><input class="uk-radio" type="radio" name="tunning" #tunning="ngModel" [(ngModel)]="publication.tunning" [value]="false" > No personalizable</label>
                                <p class="errorWarn">
                                  <small *ngIf="!tunning.valid && tunning.touched">
                                      Este campo es obligatorio
                                  </small>
                        </div>
                        <div class="uk-margin uk-width-1-3@m uk-width-3-3@s">
                            <input class="uk-input" type="number" placeholder="Unidades maximas" name="max_unites" #max_unites="ngModel" [(ngModel)]="publication.max_unites" >
                            <p class="errorWarn">
                                <small *ngIf="!max_unites.valid && max_unites.touched">
                                    Este campo es obligatorio
                                </small>
                            </p>
                        </div>
                        <div class="uk-margin uk-width-1-3@m uk-width-3-3@s">
                                <label><input class="uk-radio" type="checkbox" name="ismultiple" #ismultiple="ngModel" [(ngModel)]="publication.ismultiple" [value]="true" > Es multiple</label>
                        </div> 
                        <div class="uk-margin uk-width-1-3@m uk-width-3-3@s">
                            <input class="uk-input" type="number" placeholder="Fecha min. de envio" name="min_delivery" #min_delivery="ngModel" [(ngModel)]="publication.min_delivery" >
                            <p class="errorWarn">
                                <small *ngIf="!min_delivery.valid && min_delivery.touched">
                                    Este campo es obligatorio
                                </small>
                            </p>
                        </div>
                        <div class="uk-margin uk-width-1-3@m uk-width-3-3@s">
                                <input class="uk-input" type="number" placeholder="Fecha max. de envio" name="max_delivery" #max_delivery="ngModel" [(ngModel)]="publication.max_delivery" >
                                <p class="errorWarn">
                                    <small *ngIf="!max_delivery.valid && max_delivery.touched">
                                        Este campo es obligatorio
                                    </small>
                                </p>
                            </div>
                        <div class="uk-margin uk-width-1-3@m uk-width-3-3@s">
                                <label><input class="uk-radio" type="radio" name="diler_logo" #diler_logo="ngModel" [(ngModel)]="publication.diler_logo" [value]="true" checked > Con logo de distribuidor</label>
                                <br>
                                <label><input class="uk-radio" type="radio" name="diler_logo" #diler_logo="ngModel" [(ngModel)]="publication.diler_logo" [value]="false" > Sin logo de distribuidor</label>
                                <p class="errorWarn">
                                  <small *ngIf="!diler_logo.valid && diler_logo.touched">
                                      Este campo es obligatorio
                                  </small>
                        </div>   

                        
                        <div class="uk-margin uk-width-3-3@m uk-width-3-3@s">
                            <p>Otras caracteristicas</p>
                            <div uk-grid>
                                    <div class=" uk-width-1-3@m uk-width-3-3@s" *ngFor="let skill of publication.skills; let in=index">
                                        <div uk-grid>
                                            <div class="uk-width-1-2">
                                                    <p>Nombre</p>
                                                    <input class="uk-input" type="text" placeholder="" [(ngModel)]="publication.skills[in].name" name="name{{in}}-name" >
                                            </div>
                                            <div class="uk-width-1-2">
                                                    <p>Valor</p>
                                                    <input class="uk-input" type="text" placeholder="" [(ngModel)]="publication.skills[in].value" name="name{{in}}" >
                                            </div>
                                        </div>                                             
                                    </div>
                                    <div class="uk-margin uk-width-1-3@m">
                                        <button class="uk-button uk-button-secondary" (click)="newSkill($event)">Nuevo</button>
                                    </div>  
                            </div>
                        </div>  
                        


                  </div>
                  <div uk-grid>
                      <div class="uk-width-1-3@m uk-width-3-3@s" uk-form-custom>
                          <input type="file" (change)="fileChangeEvent($event)">
                          <button class="uk-button uk-button-default" type="button" tabindex="-1">Agregar imagen</button>
                      </div>
                      <div class=" derolling-images-publication-new-container uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

                          <ul class=" uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                              <li class="derolling-preview-images-container" *ngFor="let image of publication.images"> 
                                    <button class="uk-button uk-button-danger addToCard" (click)="reoveImage(image._id)" >Borrar</button>
  
                                <img [src]="globaluri+image.url" class="derolling-preview-images" />

                              </li>
                          </ul>
                      
                          <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                          <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                      
                      </div>
                  </div>
                  
              </fieldset>
              <div class="uk-margin">
                  <button [disabled]="!toPublishForm.valid" class="uk-button uk-button-primary" type="submit">Publicar</button>
              </div>
          </form>
      </div>
    </div>
</div>        
