
.derolling-images-publication-new-container{
    background: gray;
    min-width: 100%;
    .derolling-preview-images-container{
        max-height: 200px;
        .derolling-preview-images{
            height: 100%;
        }
    }
}   
.errorWarn{
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
}
agm-map {
    height: 300px;
  }
