<div uk-grid>
  <div class="uk-width-1-5@m">
    <app-sidebar [isadmin]="true"></app-sidebar>
  </div>
  <div class="uk-width-4-5@m scrollable-pannel">
    <div uk-grid>
      <div class="uk-width-1-6@m">
        <p>
          Nombre
        </p>
      </div>
      <div class="uk-width-1-6@m">
        <p>
          Correo
        </p>
      </div>
      <div class="uk-width-1-6@m">
        <p>
          Estado
        </p>
      </div>
      <div class="uk-width-1-6@m">
        <p>
          Rol
        </p>
      </div>
      <div class="uk-width-1-6@m">
        <p>
          Coins
        </p>
      </div>
      <div class="uk-width-1-6@m">
        <p>
          Acción
        </p>
      </div>
    </div>
    <div uk-grid *ngFor="let user of users">
      <div class="uk-width-1-6@m">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto" *ngIf="user.avatar == '-'">
            <img
              class="uk-border-circle"
              width="40"
              height="40"
              src="../../../assets/v2/ICONO-SUBIR-LOGO.jpg"
            />
          </div>
          <div class="uk-width-auto" *ngIf="user.avatar !== '-'">
            <img
              class="uk-border-pill avatarpill"
              width="40"
              height="40"
              [src]="globalUri + user.avatar"
            />
          </div>
          <div class="uk-width-expand">
            <p class="textFont">
              {{ user.username }}
            </p>
          </div>
        </div>
      </div>
      <div class="uk-width-1-6@m">
        <p class="textFont">
          {{ user.email }}
        </p>
      </div>
      <div class="uk-width-1-6@m">
        <p class="textFont">
          <span *ngIf="user.isactive" class="colorGreen">Activo</span>
          <span *ngIf="!user.isactive" class="colorRed"
            >Pendiente de activación</span
          >
        </p>
      </div>
      <div class="uk-width-1-6@m">
        <div class="uk-width-1-1 text-center">
          <select
            class="uk-select"
            (change)="upDatUs(user)"
            [ngClass]="{ colorGreen: user.rol === 1 }"
            [(ngModel)]="user.rol"
          >
            <option
              *ngFor="let rol of roles"
              [ngValue]="rol.value"
              [selected]="user.rol === rol.value"
            >
              {{ rol.rol }}</option
            >
          </select>
        </div>
      </div>
      <div class="uk-width-1-6@m">
        <input
          class="uk-input uk-form-width-medium uk-form-large fullwidth inpCoins"
          currencyMask
          type="text"
          placeholder="Coins"
          [(ngModel)]="user.coins"
          [options]="{ prefix: '$ ', thousands: '.', precision: 0 }"
        />
        <button
          class="uk-button uk-button-danger fullwidth inpCoins"
          (click)="upDatUs(user)"
        >
          Actualizar
        </button>
      </div>
      <div class="uk-width-1-6@m">
        <button
          class="uk-button uk-button-danger fullwidth inpCoins"
          *ngIf="user.isactive"
          (click)="inactive(user)"
        >
          Desactivar
        </button>
        <button
          class="uk-button uk-button-primary fullwidth inpCoins"
          *ngIf="!user.isactive"
          (click)="activateuser(user)"
        >
          Activar
        </button>
        <button
          class="uk-button uk-button-danger fullwidth inpCoins"
          (click)="prepareToRemeove(user)"
        >
          <span class="uk-margin-small-right trashIcon" uk-icon="trash"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="modal-remove" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Aviso</h2>
    <p>¿Seguro quieres realizar esta acción?</p>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button">
        Cancelar
      </button>
      <button
        class="uk-button uk-button-primary"
        type="button"
        (click)="removeuser()"
      >
        Si, continuar
      </button>
    </p>
  </div>
</div>
