.colorGreen{
    color: green;
}

.colorRed{
    color: red;
}
.nopad{
    padding: 0px;
}
.textFont{
    font-size: 12px;
    overflow-x: auto;
}
.fullwidth{
    width: 100%;
}
.inpCoins{
    height: 22px!important;
    font-size: 12px!important;
    padding: 0px;
    line-height: 22px;
}