<div class="uk-container">
  <div uk-grid>
    <div class="uk-width-1-3@m">
      <app-sidebar [isadmin]="isadmin"></app-sidebar>
    </div>
    <div class="uk-width-2-3@m scrollable-pannel">
      <form  uk-grid>
        <div class="uk-width-2-3@m " >
            <input class="uk-input" name="name" [(ngModel)]="category.name" type="text" placeholder="Nueva categoria">
        </div>
        <div class="uk-width-1-3@m nopad">
            <button class="uk-button uk-button-primary" [disabled]="!category.name.length"   (click)="newCategory()">Agregar</button>
        </div>
      </form> 
      <div class="uk-container">
        <div uk-grid>
          <div class="uk-width-1-1">
            <div uk-grid>
                <div class="uk-margin uk-width-1-2 catBg" *ngFor="let category of categories">
                    <div uk-form-custom uk-grid>
                      <div class="uk-width-1-3">
                          <span class="uk-margin-small-right trashIcon" uk-icon="trash" (click)="selectForRemove(category)" ></span>
                      </div>
                      <div class="uk-width-1-3">
                          {{category.name}}
                      </div>
                      <div class="uk-width-1-3 relative">
                          <input type="file" id="avatar" (change)="onFileChange($event,category._id)" #fileInput>
                        <button class="uk-button uk-button-default buttonLogo" type="button" tabindex="-1">
                            <img *ngIf="category.img" [src]="globaluri+category.img" class="img-category" />
                        </button>
                      </div>  
                    </div>
                  </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
 </div>       

 <div id="modal-remove" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Aviso</h2>
        <p>¿Seguro quieres realizar esta acción?</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
            <button class="uk-button uk-button-primary" type="button" (click)="removeCategory()">Si, continuar</button>
        </p>
    </div>
</div>