    .catBg{
        margin-top: 5px!important;
        margin-bottom: 5px!important;
        border: 2px solid #ff00016e;
        div{    
            .buttonLogo{
                background: #4040406b;
                border-color: transparent;
                img{
                    max-width: 50px;
                }
            }
            
        }
        .trashIcon{
            color: red;
            cursor: pointer;
        }
        .relative{
            position: relative;
        }
    }