<nav class="uk-navbar-container adstore-header" uk-navbar>
    <div class="uk-navbar-left">
  
        <ul class="uk-navbar-nav">
            <li class="text-left" >
              <a routerLink="/" class="logo-brid-container lbtop">
                <img src="../../../assets/CASA-ICON.svg" class="logo-brid" alt="bridgestone-logo" /> 
              </a>
            </li>
        </ul>
  
    </div>
    <div class="uk-navbar-right r-navVar">
  
  
    </div>
  </nav>

<pdf-viewer class="scrollable-pannel" [src]="pdfSrc" 
[render-text]="true"
style="display: block;"
></pdf-viewer>