.adstore-header{
    .pointer{
        cursor: pointer;
    }
    background: #FF0000;
    max-height: 50px;
    .r-navVar{
        margin-right: 60px;
    }
    .logo-brid-container{
        padding-left: 0px;
        .logo-brid{
            max-width: 244px;
            width: 50px;
        }
    }
    .uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle{
        min-height: 50px;
    }
    .lbtop{
        align-items: flex-start;
    }
    .accout-button{
        .account-button-ref{
            color: #fff;
            border: 1px solid #fff;
            height: 30px!important;
            min-height: 30px!important;
        }        
    }
    .closeSesion{
        margin-left: -20px;
        margin-right: -20px;
        background: red;
        text-align: center;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        p{
            margin: 0 auto;
        }
    }
}