<div class="uk-card uk-card-default adstore-card-product">
    <div class="uk-card-media-top pointer" [routerLink]="goto" *ngIf="product.images.length">
        <img [src]="globaluri+product.images[0].url" alt="">
    </div>
    <div class="uk-card-body">
        <h3 class="nomar uk-card-title pointer" [routerLink]="goto">{{product.title}}</h3>
        <h4 class="nomar" [routerLink]="goto">{{product.price | currency:'$'}} <small *ngIf="product.unites_per_price>0" >x {{product.unites_per_price}} und.</small></h4>
        <p class="specsFonts colorRed" *ngIf="!product.diler_logo" [routerLink]="goto">No aplica logo del distribuidor</p>
        <p class="specsFonts colorGreen" *ngIf="product.diler_logo" [routerLink]="goto">Aplica logo del distribuidor</p>
        <p class="specsFonts colorGray" [routerLink]="goto">Minimo {{product.min_unites}} màximo {{product.max_unites}}</p>
        <p class="specsFonts colorGreen" [routerLink]="goto">Entrega de {{product.min_delivery}} a {{product.max_delivery}} dias hábiles</p>
        <button class="uk-button uk-button-danger addToCard" (click)="addTocat(product)" *ngIf="!isadmin">Agregar al carrito</button>
        <button class="uk-button uk-button-danger addToCard" [routerLink]="goto" >Ver detalles</button>
        <button class="uk-button uk-button-default addToCard" *ngIf="isadmin" (click)="remove(product._id)">Eliminar</button>
    </div>
</div>