.adstore-card-product{
    .pointer{
        cursor: pointer;
    }
    .colorRed{
        color: #FF0000;
    }
    .colorGray{
        color: #606060;
    }
    .colorGreen{
        color: #0F6608;
    }
    .specsFonts{
        font-size: 0.8rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .uk-card-body {
        padding: 10px 10px;
    }
    .nomar{
        margin: 0 auto;
    }
    .addToCard{
        padding: 0px;
        width: 100%;
        background: #FF0000;
        margin-top: 20px;
        border-radius: 3px;
    }
}