.ads-bg-auth{
    background: url('../../../assets/v2/-BACKGROUND-INICIO.png');
    background-size: cover;
    .nopad{
        padding: 0px;
        margin: 0 auto;
    }
    .countries-list{
        text-align: left;
        font-size: 12px;
        line-height: 12px;
        height: 26px;
        padding-top: 3px;
        padding-left: 8px;
        border-bottom: 0.5px solid #C0C0C0;
        cursor: pointer;
        img{
            width: 20px;
        }
    }
    .uk-input{
        max-width: 280px;
        width: 280px;
    }
    .countriesContainer{
        max-width: 280px;
        margin: 0 auto;
        position: relative;
    }
    .fullWidth{
        width: 100%;
    }
    .countries-list-container{
        background: #EAE8E8;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .select-country{
        border-radius: 3px;
        border: 0.5px solid #C0C0C0;
        p{
            margin-bottom: 0px;
            position: relative;
            text-align: left;
            padding-left: 17px;
            height: 31px;
            line-height: 30px;
            span{
                background: #e2e2e2;
                position: absolute;
                right: 0.5px;
                top: 0.5px;
                bottom: 0.5px;
                padding-top: 7px;        
            }
        }
    }
    .pointer{
        cursor: pointer;
    }
    .pill-Tabs{
        width: 100%;
        margin-left: 0px;
        li{
            padding: 0px;
            a{
                padding-top: 10px;
                padding-bottom: 10px;
                color: #fff;
                background-color: red;
            }
        }
    }
    .uk-subnav-pill {
        .uk-active{
            a{
                background-color: #fff;
                color: red;
            }
        }
    }
    .submitBtn{
        padding: 0px;
        background: #FF0000;
        border-radius: 3px;
        width: 280px;
        max-width: 280px;
    }
    .refH{
        color: red!important;
        text-decoration: underline!important;
    }
    .refH:hover{
        color: red!important;
        text-decoration: underline!important;
    }
    .nomar{
        margin: 0 auto!important;
    }
    .checkTExtContainer{
        max-width: 280px;
        width: 280px;
        text-align: left;
        line-height: 11px;
        margin-bottom: 16px!important;
    }
    .checkTExt{
        font-size: 9px;
    }
}