<div uk-height-viewport class="uk-flex uk-background-muted uk-text-center ads-bg-auth">
    <div class="uk-margin-auto uk-margin-auto-vertical uk-width-1-4@s ">
        <!-- <img src="../../../assets/logo-auth.png" /> -->
      <div uk-grid class="uk-card uk-card-default uk-card-body uk-flex-center nopad fullWidth">
          <ul class="uk-subnav uk-subnav-pill pill-Tabs" uk-grid uk-switcher>
              <li class="uk-width-1-2@m"><a href="#">Iniciar sesión</a></li>
              <li class="uk-width-1-2@m"><a href="#">Regístrate</a></li>
          </ul>
          
          <ul class="uk-switcher uk-margin fullWidth">
              <li>
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <div class="uk-margin countriesContainer">
                      <div class="countries-list-container" *ngIf="showCountriesList">
                          <div class="countries-list text-left" *ngFor="let country of countries" (click)="user.country = country.id; showCountriesList = false; curcountry = country.name">
                              <img [src]="uri+country.flag" [alt]="country.name" /> {{country.name}}
                          </div>
                      </div>                      
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input class="uk-input" type="email" name="current-email" #email="ngModel" [(ngModel)]="user.email" placeholder="E-mail" required>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                            <input class="uk-input" type="password" name="current-password" #password="ngModel" [(ngModel)]="user.password" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <a href="#modal-forgot-pass" uk-toggle>Olvidé mi contraseña</a>
                    <div class="uk-margin">
                      <div class="uk-inline">
                          <button [disabled]="!loginForm.valid" type="submit" class="uk-button uk-button-danger submitBtn">Iniciar sesión</button>
                      </div>
                    </div>
                </form>
              </li>
              <li>
                  <form #registerForm="ngForm" (ngSubmit)="register()">
                      <div class="uk-margin countriesContainer">
                        <div class="select-country pointer" (click)="showCountriesList = !showCountriesList">
                          <p *ngIf="user.country === -1">Selecciona un país <span uk-icon="icon:  triangle-down"></span></p>
                          <p *ngIf="user.country !== -1"> {{curcountry}} <span uk-icon="icon:  triangle-down"></span></p>
                        </div>
                        <div class="countries-list-container" *ngIf="showCountriesList">
                            <div class="countries-list text-left" *ngFor="let country of countries" (click)="user.country = country.id; showCountriesList = false; curcountry = country.name">
                                <img [src]="uri+country.flag" [alt]="country.name" /> {{country.name}}
                            </div>
                        </div>                      
                      </div>
                      <div class="uk-margin">
                          <div class="uk-inline">
                              <span class="uk-form-icon" uk-icon="icon: user"></span>
                              <input class="uk-input" type="text" name="current-user" #username="ngModel" [(ngModel)]="user.username" placeholder="Username" required>
                          </div>
                      </div>
                      <div class="uk-margin">
                          <div class="uk-inline">
                              <span class="uk-form-icon" uk-icon="icon: mail"></span>
                              <input class="uk-input" type="email" name="current-email" #email="ngModel" [(ngModel)]="user.email" placeholder="E-mail" required>
                          </div>
                      </div>
                      <div class="uk-margin">
                          <div class="uk-inline">
                              <span class="uk-form-icon" uk-icon="icon: lock"></span>
                              <input class="uk-input" type="password" name="current-password" #password="ngModel" [(ngModel)]="user.password" placeholder="Contraseña" required>
                          </div>
                      </div>
                      <div class="uk-margin nomar checkTExtContainer">
                          <label class="checkTExt"><input class="uk-checkbox" type="checkbox" name="newsletter" #newsletter="ngModel" [(ngModel)]="user.newsletter" > Me gustaría recibir comunicaciones promocionales <br> (Recibirás un e-mail de confirmación)</label>
                      </div>
                      <div class="uk-margin nomar checkTExtContainer">
                          <label class="checkTExt"><input class="uk-checkbox" type="checkbox" name="termscheck" #termscheck="ngModel" [(ngModel)]="user.termscheck" required> Acepto términos y condiciones y la <a routerLink="/terminos-y-condiciones" class="refH"> Política de Privacidad y  <br> Tratamiento de Datos Personales</a></label>
                      </div>
                      <div class="uk-margin">
                        <div class="uk-inline">
                            <button [disabled]="!registerForm.valid || user.country == -1" type="submit" class="uk-button uk-button-danger submitBtn">Iniciar sesión</button>
                        </div>
                      </div>
                  </form>
              </li>
          </ul>
      </div>        
    </div>
</div>

<div id="modal-forgot-pass" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Ingresa tu correo</h2>
            <div class="uk-inline">
                    <input class="uk-input" type="text" name="current-user" #email="ngModel" [(ngModel)]="user.email" placeholder="Correo" >
                </div>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary" (click)="forgotPAss()" type="button">Enviar</button>
            </p>
        </div>
    </div>