
.ads-container-product{
    background: #F5F5F5;
    .ads-imageDot{
        width: 100%;
        height: auto;
        border-radius: 0px;
    }
    .nomar{
        margin: 0 auto;
    }
    .nopad{
        padding: 0px;
    }
    .uk-light .uk-slidenav, .uk-section-primary:not(.uk-preserve-color) .uk-slidenav, .uk-section-secondary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-primary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-secondary:not(.uk-preserve-color) .uk-slidenav, .uk-card-primary.uk-card-body .uk-slidenav, .uk-card-primary > :not([class*='uk-card-media']) .uk-slidenav, .uk-card-secondary.uk-card-body .uk-slidenav, .uk-card-secondary > :not([class*='uk-card-media']) .uk-slidenav, .uk-overlay-primary .uk-slidenav, .uk-offcanvas-bar .uk-slidenav {
        color: rgba(255, 255, 255, 0.7);
        background: #000;
    }
    .coorGreen{
        color: #0B6D00;
    }
    .colorRed{
        color: #FF0000;
    }
    .borderCountSelector{
        border-top: 1px solid #ABABAB;
        border-bottom: 1px solid #ABABAB;
        padding-bottom: 10px;
    }
    .linh{
        line-height: 100px;
        max-height: 64px;
    }
    .borderB{
        border-bottom: 0.5px solid #ABABAB;

    }
    .uk-button-danger{
        border-radius: 5px!important;
        background: #FF0000!important;
    }
    .text-center{
        text-align: center;
    }
    .addToCard{
        margin-top: 20px;
    }
}