<div class="ads-container-product" uk-grid>
  <div class="uk-width-1-6@m">
    <app-sidebar ></app-sidebar>
  </div>
  <div class="uk-width-5-6@m scrollable-pannel">
    <div uk-grid>
      <div class="uk-width-1-2@m ">
        <div uk-grid class="nomar">
            <div class="uk-width-1-6@m">
                <div uk-grid>
                    <ul class="uk-dotnav uk-dotnav-vertical">
                        <li class="uk-active" (click)="setIndex(0)" *ngFor="let image of product.images">
                            <img [src]="uri+image.url"class="ads-imageDot" alt="" >
                        </li>
                    </ul>
                 </div> 
            </div>
            <div class="uk-width-5-6@m nopad">
                <div class="uk-position-relative uk-visible-toggle uk-light" id="ads-product-sliner"  tabindex="-1" uk-slider="center: true">
                    <ul class="uk-slider-items uk-grid" >
                        <li class="uk-width-3-4 nopad" *ngFor="let image of product.images">
                          <div class="uk-panel">
                              <img [src]="uri+image.url" alt="" >
                              <!-- <div class="uk-position-center uk-panel"><h1>1</h1></div> -->
                          </div>
                      </li>
                    </ul>
                
                    <a class="uk-position-center-left uk-position-small colorB" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small colorB" href="#" uk-slidenav-next uk-slider-item="next"></a>
                    
                </div>
            </div>
        </div>
        
      </div>
      <div class="uk-width-1-2@m">
        <div uk-grid>
          <div class="uk-width-1-1@m">
            <h2>{{product.title}}</h2>
          </div>
          <div class="uk-width-1-1@m nomar">
              <h3>{{product.price | currency: '$'}} <small>C/{{product.type_unit}}</small></h3>
            </div>
        </div>
        <div class="uk-width-1-1@m nomar">
            <p class="specsFonts colorRed nomar" *ngIf="!product.diler_logo" [routerLink]="goto">No aplica logo del distribuidor</p>
            <p class="specsFonts coorGreen nomar" *ngIf="product.diler_logo" [routerLink]="goto">Aplica logo del distribuidor</p>
        </div>
        <div class="uk-width-1-1@m nomar">
          <p class="specsFonts coorGreen nomar" [routerLink]="goto">Entrega de {{product.min_delivery}} a {{product.max_delivery}} dias hábiles</p>
        </div>
        <div class="uk-width-1-1@m borderCountSelector">
           <div uk-grid>
             <div class="uk-width-1-4@m">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-select">Cantidad por {{product.type_unit}}</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="form-stacked-select" name="quantity"  (change)="forUpdate = true" [(ngModel)]="product.quantity">
                            <option *ngFor="let counter of count " [ngValue]="counter" >{{counter}}</option>
                        </select>
                    </div>
                </div>
             </div>
             <div class="uk-width-3-4@m linh">
                <p class="specsFonts colorGray" >Minimo {{product.min_unites}} màximo {{product.max_unites}} <small *ngIf="product.units_pack>1">(Unidades por paquete {{product.units_pack}})</small></p>
             </div>
           </div>
        </div>
        <div class="uk-width-1-1@m borderCountSelector" *ngIf="product.ismultiple">
            <div uk-grid>
              <div class="uk-width-1-4@m">
                 <div class="uk-margin">
                     <label class="uk-form-label" for="form-stacked-select">Cantidad y/o unidades del producto</label>
                     <div class="uk-form-controls">
                         <select class="uk-select" id="form-stacked-select" name="multiplicate"  (change)="forUpdate = true" [(ngModel)]="product.multiplicate">
                             <option *ngFor="let counter of multiple " [ngValue]="counter" >{{counter}}</option>
                         </select>
                     </div>
                 </div>
              </div>
            </div>
         </div>
        <div class="uk-width-1-1@m">
          <h2>Descripión del producto</h2>
        </div>
        <div class="uk-width-1-1@m borderB" *ngIf="product.creased && product.creased !== 'NO'">
          <p><b>Plegado:</b> {{product.creased}}</p>
        </div>
        <div class="uk-width-1-1@m borderB" *ngIf="product.material && product.material !== 'NO'">
          <p><b>Material:</b> {{product.material}}</p>
        </div>
        <div class="uk-width-1-1@m borderB" *ngIf="product.tunning">
          <p><b>Personalización:</b> Si</p>
        </div>
        <div class="uk-width-1-1@m borderB">
          <p><b>Descripción:</b> {{product.description}}</p>
        </div>
        
        <div uk-grid *ngIf="product.skills && product.skills.length">
            <h3>Otras caracteristicas</h3>
            <div class="uk-width-1-1@m borderB" *ngFor="let skill of product.skills">
                <p><b>{{skill.name}}:</b> {{skill.value}}</p>
              </div>
        </div>
        
        
        <div class="uk-width-1-1@m text-center">
            <button class="uk-button uk-button-danger addToCard"  *ngIf="!added" (click)="addTocat()" >Agregar al carrito</button>
            <button class="uk-button uk-button-primary addToCard" [disabled]="!forUpdate" *ngIf="added" (click)="addTocat()">Actualizar</button>
        </div>
      </div>
    </div>
  </div>
</div>