<div uk-grid class="container-my-orders">
      <div class="uk-width-1-4@m">
        <app-sidebar [isadmin]="true"></app-sidebar>
      </div>
      <div class="uk-width-3-4@m scrollable-pannel">
        <div class="uk-container ">
          <div uk-grid >
            <div class="uk-width-2-2 nomar">
              <table class="uk-table">
                <caption><h3>Ordenes</h3></caption>
                <thead class="headOrders">
                    <tr>
                        <th>Codigo</th>
                        <th>Fecha de orden</th>
                        <th>Usuario</th>
                        <th>Pais</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody class="bodyOrders">
                    <tr *ngFor="let order of myOrders">
                      <th (click)="orderDetail(order)"  class="pointer"><b><i uk-icon="icon: settings"></i>  {{order.order}}</b></th>
                      <th>{{order.order_date | date}}</th>
                      <th>{{order.buyer && order.buyer.social_name? order.buyer.social_name: ''}}</th>
                      <th>{{order.buyer && order.buyer.city? order.buyer.city: ''}}</th>
                      <th>{{order.products.length}}</th>
                      <th>{{order.ordertotal | currency: '$'}}</th>
                      <th class="relative">
                        <select class="uk-select selector" (change)="updateOrder(order.status, order._id)" [(ngModel)]="order.status" >
                          <option  *ngFor="let curstatus of status" [disabled]="order.status===2" [ngValue]="curstatus.status" [selected]="order.status === curstatus.status" > {{curstatus.type}}</option>
                        </select>
                        <div class="identifier" [ngClass]="{'pending': order.status===0, 'ontrafic': order.status===1, 'successorder': order.status===2}"></div>  

                        <!-- <span *ngIf="order.status===0" class="colorRed">
                          <button class="uk-button uk-button-primary" (click)="updateOrder(1, order._id)">Poner en trafico</button>
                        </span>
                        <span *ngIf="order.status===1" class="colorBlue">
                          <button class="uk-button uk-button-success" (click)="updateOrder(2, order._id)">Entregar</button>
                        </span>
                        <span *ngIf="order.status===2" class="colorgreen">
                          Entregado
                        </span> -->
                      </th>
                    </tr>
                </tbody>
            </table>
            </div>
          </div>
        </div>
        
      </div>






      <div id="ordermodal" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
              <div class="uk-container">
                  <div uk-grid class="martop">
                      <div class="uk-width-1-1@m">
                          <div uk-grid class="stack-g-adsa">
                              <div class="uk-width-1-1@m backgroundF nopad">
                                <div uk-grid class="headerOrder nomar">
                                    <div class="uk-width-2-3@m">
                                      <img src="../../../assets/bridgestone-logo-cart.png" />
                                    </div>
                                    <div class="uk-width-1-3@m">
                                      <h3 class="nomar">Orden de compra</h3>
                                      <p class="nomar">Location dummy</p>
                                    </div>
                                </div>
                                <div uk-grid class="nomar">
                                    <div class="uk-width-1-1@m">
                                      <h3>Orden de venta No. {{curOrder.order}}</h3>
                                    </div>
                                </div>   
                                <div uk-grid class="nomar headerInfo">
                                    <!-- <div class="uk-width-1-4@m">
                                      <p>FECHA</p>
                                    </div>
                                    <div class="uk-width-1-4@m">
                                      <p>VENCIMIENTO</p>
                                    </div> -->
                                    <div class="uk-width-1-2@m">
                                      <p>FORMA DE PAGO</p>
                                      <p>Crédito</p>
                                    </div>
                                    <div class="uk-width-1-2@m">
                                      <p>CÓDIGO DE CLIENTE</p>
                                      <p>{{curOrder.buyer._id | slice:0:6}}</p>
                                    </div>
                                </div> 
                                <div uk-grid class="nomar headerInfo">
                                    <div class="uk-width-1-2@m">
                                      <p>FACTURADO A:</p>
                                    </div>
                                </div> 
                                <div uk-grid class="nomar">
                                    <div class="uk-width-1-2@m">
                                      <p>Cliente: <span class="clientNAME">{{curOrder.buyer.username}}</span></p>
                                      <p>NIT: <span class="clientNAME">{{curOrder.buyer.nit}}</span></p>
                                      <p>E-mail: <span class="clientNAME">{{curOrder.buyer.email}}</span></p>
                                    </div>
                                    <div class="uk-width-1-2@m">
                                        <p *ngIf="curOrder.buyer.phones && curOrder.buyer.phones.length">Teléfono: <span class="clientNAME">{{curOrder.buyer.phones[0]}}</span></p>
                                        <p *ngIf="curOrder.buyer.city && curOrder.buyer.city.length">Ciudad de entrega: <span class="clientNAME">{{curOrder.buyer.city}}</span></p>
                                        <p *ngIf="curOrder.buyer.address && curOrder.buyer.address.length">Dirección de entrega: <span class="clientNAME">{{curOrder.buyer.address}}</span></p>
                                    </div>
                                </div> 
                                <div uk-grid class="nomar">
                                    <div class="uk-width-1-3@m">
                                      <p><b>Item</b></p>
                                    </div>
                                    <div class="uk-width-1-3@m">
                                      <p><b>Cantidad</b></p>
                                    </div>
                                    <div class="uk-width-1-3@m">
                                      <p><b>Total</b></p>
                                    </div>
                                </div>                    
                                <div uk-grid class="cont-products-list-container" >
                                  <div class="products-list-container uk-width-1-1@m">
                                    <div uk-grid *ngFor="let product of curOrder.products" class="p_pr">
                                        <div class="uk-width-1-3@m">
                                            <p>{{product.title}}</p>
                                          </div>
                                          <div class="uk-width-1-3@m">
                                            <div class="uk-margin uk-width-1-1@m">
                                              <label>Unidades: </label>
                                              <input class="uk-input" type="text" name="quantity" (change)="getcurrentCart()" #quantity="ngModel" [(ngModel)]="product.quantity" placeholder="" >
                                            </div>
                                            <div class="uk-margin uk-width-1-1@m" *ngIf="product.ismultiple">
                                              <label>Cantidad y/o unidades del producto: </label>
                                              <input class="uk-input" type="text" name="multiplicate" (change)="getcurrentCart()" #multiplicate="ngModel" [(ngModel)]="product.multiplicate" placeholder="" >
                                            </div>
                                          </div>

                                          <div class="uk-width-1-3@m nopad">
                                            <p>{{product.price}}</p>
                                            <p *ngIf="product.ismultiple"> Total con cantidad y/o unidades del producto: <b>{{ (product.price * product.quantity) * product.multiplicate | currency: '$'}} </b></p>
                                          </div>
                                    </div>
                                    <div uk-grid>
                                        <div class="uk-margin uk-width-1-1@m" >
                                            <label>Envio: </label>
                                            <input class="uk-input" type="number" name="delivery" (change)="getcurrentCart()" #delivery="ngModel" [(ngModel)]="curOrder.delivery" placeholder="" >
                                          </div>
                                    </div>
                                  </div>
                                </div>  
                                <div uk-grid class="nomar">
                                    <div class="uk-width-2-3@m">
                                    </div>
                                    <div class="uk-width-1-3@m">
                                      <div uk-grid>
                                          <div class="uk-width-1-2@m nomar">
                                            <p class="nomar"><b>Subtotal</b></p>
                                          </div>
                                          <div class="uk-width-1-2@m nomar">
                                              <p class="nomar">{{curOrder.ordertotal | currency: '$'}}</p>
                                            </div>
                                          <!-- <div class="uk-width-1-2@m nomar bbutton">
                                            <p class="nomar"><b>Envío</b></p>
                                          </div>
                                          <div class="uk-width-1-2@m nomar bbutton">
                                              <p class="nomar"><b>50</b></p>
                                          </div> -->
                                          <div class="uk-width-1-2@m nomar">
                                              <p class="nomar colorRed"><b>Total</b></p>
                                            </div>
                                            <div class="uk-width-1-2@m nomar">
                                                <p class="nomar colorRed"><b>{{curOrder.ordertotal | currency: '$'}}</b></p>
                                          </div>
                                          
                                      </div>
                                    </div>
                                </div>  
                              </div>
                          </div>
                          <div uk-grid>
                            <div class="uk-width-1-3 text-center">
                                <select class="uk-select" (change)="updateOrder(curOrder.status, curOrder._id)" [(ngModel)]="curOrder.status" [ngClass]="{'pending': curOrder.status===0, 'ontrafic': curOrder.status===1, 'successorder': curOrder.status===2}">
                                    <option  *ngFor="let curstatus of status" [disabled]="curOrder.status===2" [ngValue]="curstatus.status" [selected]="curOrder.status === curstatus.status" > {{curstatus.type}}</option>
                                </select>
                            </div>
                            <div class="uk-width-2-3 text-center">
                                <button class="uk-button uk-button-primary" (click)="updateOrderLive(curOrder)">Guardar cambios</button>
                            </div>
                          </div>
                      </div>
                  </div> 
                </div> 
          </div>
      </div>





    </div>


