<div class="uk-container adstore-paginator">
  <div uk-grid *ngIf="curcat">
      <div class="uk-width-1-2@m">
          <h4>
           {{curcat}}
          </h4>
        </div>
  </div>
  <div uk-grid class="adstore-paginator-container">
    <div class="uk-width-1-2@m">
      <p class="colorR" *ngIf="count>1">
        Resultados: {{count}} productos
      </p>
      <p class="colorR" *ngIf="count < 2">
        Resultados: {{count}} producto
      </p>
      <p class="colorR" *ngIf="!count">
        Resultados: Sin resultados
      </p>
    </div>
  </div>
</div>