.adstore-paginator{
    .colorR{
        color: #DE1C24;
    }
    .adstore-paginator-container{
        margin-top: 0px;
        border-top: 1px solid rgba(96, 96, 96, 0.57);
        border-bottom: 1px solid rgba(96, 96, 96, 0.57);
    }
}