.settings-account{
    .uk-height-1-1{
        height: 100vh;
    }
    .banner{
        background: url('../../../assets/v2/-BACKGROUND-FORMULARIOS.png');
        background-size: cover;
        background-position: 0%;
    }
    .nomar{
        margin: 0 auto;
    }
    .avatarpill{
        width: 100px;
        height: 100px;
        padding-left: 0px;
        margin-left: 20px;
    }
    .submitBtn{
        padding: 0px;
        background: #FF0000;
        border-radius: 3px;
        width: 280px;
        max-width: 280px;
        color: #fff;
    }
    .uk-button-secondary{
        height: 45px;
        margin-top: 30px;
    }
    .uk-button-default:disabled, .uk-button-primary:disabled, .uk-button-secondary:disabled, .uk-button-danger:disabled{
        background-color: transparent;
        color: #999;
        border-color: #e5e5e5;
    }
}