<div uk-grid class="settings-account">
  <div class="uk-width-1-6@m">
    <app-sidebar [categoria]="categoria" ></app-sidebar>
  </div>
  <div class="uk-width-5-6@m scrollable-pannel">
    <div class="uk-container">
      <div uk-grid>
        <div class="uk-width-1-1@m uk-height-1-1 hovflow">
          <form  class="uk-container" #enterpriseform="ngForm" (ngSubmit)="updateuser()">
            <fieldset class="uk-fieldset" uk-grid>
    
              <h3 class="uk-text-left nomar uk-width-1-1@m">Configuración</h3> 
              
              <div class="uk-width-1-1@m nomar">
                <div uk-grid>
                  <img *ngIf="user.avatar == '-'" class="uk-border-pill avatarpill" src="../../../assets/v2/ICONO-SUBIR-LOGO.jpg" width="200" height="200" alt="Border pill">
                  <img *ngIf="user.avatar !== '-'" class="uk-border-pill avatarpill" [src]="globaluri+user.avatar" width="200" height="200" alt="Border pill">
                  <div class="uk-width-1-3@m uk-width-3-3@s" uk-form-custom>
                    <input type="file" (change)="fileChangeEvent($event)">
                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Cambiar logo</button>
                    <br>
                    <small>Suba su logo en formato jpg/jpeg/gif/png/bmp.<br>
                      Peso máximo de 500Kb</small>
                  </div>
                </div>
              </div>
              
              <div class="uk-margin uk-width-1-1@m">
                  <input class="uk-input" type="text" name="current-social_name" #social_name="ngModel" [(ngModel)]="user.social_name" placeholder="Razón social" required>
              </div>
      
              <div class="uk-margin uk-width-1-1@m">
                <input class="uk-input" type="text" name="current-city" #city="ngModel" [(ngModel)]="user.city" placeholder="Ciudad" required>
              </div>
      
              <div class="uk-margin uk-width-1-1@m">
                <input class="uk-input" type="text" name="current-address" #address="ngModel" [(ngModel)]="user.address" placeholder="Dirección" required>
              </div>
  
              <div class="uk-margin uk-width-1-1@m">
                  <textarea class="uk-textarea" rows="2" name="current-description" #description="ngModel" [(ngModel)]="user.description" placeholder="Descripción" required></textarea>
              </div>
              
              <div class="uk-margin uk-width-1-1@m">
                <input class="uk-input" type="number" name="phone1" #phone1="ngModel" [(ngModel)]="user.phones[0]" placeholder="Teléfono de contacto 1" required="false">
              </div>
  
              <div class="uk-margin uk-width-1-1@m">
                <input class="uk-input" type="number" name="phone2" #phone2="ngModel" [(ngModel)]="user.phones[1]" placeholder="Teléfono de contacto 2" required="false">
              </div>
  
              <div class="uk-margin uk-width-1-1@m">
                <input class="uk-input" type="text" name="current-web" #web="ngModel" [(ngModel)]="user.web" placeholder="Página web" required="false">
              </div>
              
              
          </fieldset>
          <fieldset class="uk-fieldset" uk-grid>
      
            <h3 class="uk-text-left nomar uk-width-1-1@m">Datos personales</h3> 
  
            <div class="uk-margin uk-width-1-1@m">
              <input class="uk-input" type="text" name="personal_names" #personal_names="ngModel" [(ngModel)]="user.personal_names" placeholder="Nombres" required="true">
            </div>
  
            <div class="uk-margin uk-width-1-1@m">
              <input class="uk-input" type="text" name="personal_lastnames" #personal_lastnames="ngModel" [(ngModel)]="user.personal_lastnames" placeholder="Apellidos" required="true">
            </div>
  
            <div class="uk-margin uk-width-1-1@m">
              <input class="uk-input" type="email" name="corporative_email" #corporative_email="ngModel" [(ngModel)]="user.corporative_email" placeholder="Correo corporativo" required="true">
            </div>
  
            <div class="uk-margin uk-width-1-1@m">
              <input class="uk-input" type="email" name="personal_email" #personal_email="ngModel" [(ngModel)]="user.personal_email" placeholder="Correo personal" required="true">
            </div>
  
            <div class="uk-margin uk-width-1-1@m">
              <input class="uk-input" type="text" name="personal_id" #personal_id="ngModel" [(ngModel)]="user.personal_id" placeholder="Identificación" required="true">
            </div>
  
            <div class="uk-margin uk-width-1-1@m">
              <input class="uk-input" type="date" name="birdth_date" #birdth_date="ngModel" [(ngModel)]="user.birdth_date" placeholder="Fecha de nacimiento" required="true">
            </div>
            
            <div class="uk-margin">
              <div class="uk-inline">
                  <button [disabled]="!enterpriseform.valid" type="submit" class="uk-button uk-button-danger submitBtn">Guardar cambios</button>
              </div>
            </div>
          </fieldset>  
          </form>
        </div>
      </div>
    </div>
  </div>
</div>