<nav class="uk-navbar-container adstore-header" uk-navbar>
  <div class="uk-navbar-left">

      <ul class="uk-navbar-nav">
          <li class="text-left" >
            <a routerLink="/" class="logo-brid-container lbtop">
              <img src="../../../assets/CASA-ICON.svg" class="logo-brid" alt="bridgestone-logo" /> 
            </a>
          </li>
      </ul>

  </div>
  <div class="uk-navbar-right r-navVar">

      <ul class="uk-navbar-nav">
          <li class="accout-button">
              <a href="" class="account-button-ref" ><span uk-icon="icon: user"></span> Mi cuenta  <span uk-icon="icon:  triangle-down"></span></a>
              <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-active">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto" *ngIf="userData.avatar === '-'">
                                <img class="uk-border-circle" width="40" height="40" [src]="userData.avatar">
                            </div>
                            <div class="uk-width-auto" *ngIf="userData.avatar !== '-'">
                              <img class="uk-border-pill avatarpill" width="40" height="40" [src]="globalUri+userData.avatar">
                          </div>
                            <div class="uk-width-expand">
                                <h5 class="uk-card-title uk-margin-remove-bottom">{{userData.username}}</h5>
                            </div>
                        </div>
                      </li>
                      <li class="pointer" *ngIf="userData.rol===1"><p routerLink="admin/list">Administrar</p></li>
                      <!-- <li class="pointer"><p routerLink="admin/list">Administrar</p></li> -->
                      <li class="pointer" ><p routerLink="account">Ajustes</p></li>
                      <li class="pointer" *ngIf="userData.rol!==1"><p routerLink="account">Ajustes</p></li>
                      <li class="pointer" *ngIf="userData.rol!==1"><p routerLink="my-orders">Mis ordenes</p></li>
                      <li class="pointer closeSesion"><p (click)="cerrarSesion()">Cerrar sesión</p></li>
                  </ul>
              </div>
          </li>
      </ul>

  </div>
</nav>
<app-search-bar ></app-search-bar>