<div uk-grid class="paddnone">
    <div class="uk-width-1-4@m" >
        <app-sidebar [isadmin]="isadmin"></app-sidebar>
    </div>
    <div class="uk-width-3-4@m scrollable-pannel" >
            <button class="uk-button uk-button-primary" (click)="newPublication()">Nuevo Producto</button>
        <div class="uk-container adstore-product-list-container">
            <div uk-grid class="paddnone">
                <app-product-card class="uk-width-1-4@m" [isadmin]="isadmin" [goto]="'/admin/gestion-publicacion/'+product._id" *ngFor="let product of products.publications; index as i;" [product]="product"></app-product-card>
            </div>
        </div>
    </div>
</div>
