.container-my-orders{
    .nomar{
        margin: 0 auto;
    }
    .relative{
        position: relative;
    }
    .pending{
        color: #fff;
        background: red;
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        right: 12px;
        top: 22px;
        border-radius: 10px;   
    }
    .ontrafic{
        color: #fff;
        background: rgb(159, 159, 172);
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        right: 12px;
        top: 22px;
        border-radius: 10px;   
    }
    .successorder{
        color: #fff;
        background: green;
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        right: 12px;
        top: 22px;
        border-radius: 10px; 
    }
    .selector{
        background: transparent;
    border: 0px;
    cursor: pointer;
    }
    .headOrders>tr>th {
        background: red;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
    }
    .bodyOrders{
        tr{
            &:nth-child(odd) { background: #EFEFEF}
            th{
            text-align: center!important;
            }
        }
    }

        .text-center{
            text-align: center;
        }
        background: #F5F5F5;
        .adstore-paginator{
            .colorR{
                color: #DE1C24;
            }
            .adstore-paginator-container{
                margin-top: 0px;
                border-top: 1px solid rgba(96, 96, 96, 0.57);
                border-bottom: 1px solid rgba(96, 96, 96, 0.57);
            }
        }
        .nomar{
            margin: 0 auto;
        }
        .columnForTrash{
            background: #fff;
            color: red;
            text-align: center;
            line-height: 10;
            padding-left: 0px;
            margin-left: 10px;
            width: 9%;
        }
        .backgroundF{
            background: #fff;
            border-radius: 5px;
        }
        .pointer{
            cursor: pointer;
        }
        .coorGreen{
            color: #0B6D00;
        }
        .sizedesc{
            font-size: 12px;
        }
        .borderB{
            border-bottom: 0.5px solid #ABABAB;
            padding: 0px;
            margin-left: 20px;
            margin-right: 20px;
        }
        .nopad{
            padding: 0px;
        }
        .marProductResume{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .martop{
            margin-top: 20px;
        }
        .paddCard{
            padding-bottom: 20px;
            padding-top: 20px;
        }
        .fullwidth{
            width: 100%;
        }
        .addToCard{
            margin-left: -20px;
        }
        .headerOrder{
            border-bottom: 2px solid red; 
        }
        .headerInfo{
            background: red;
            div{
                text-align: left;
                p{
                    color:#fff;
                    font-size: 12px;
                }
            }
        }
        .p_pr{
            padding-top: 10px;
            padding-bottom: 10px;
                &:nth-child(odd) {
                    background: #E9E9E9;
                }
                &:nth-child(even) {
                    background: #fff;
                }
        }
        .bbutton{
            border-bottom: 1px solid black;
        }
    #order-success{
        div{
            background: url('../../../assets/v2/2.Pop-up-compra-finalizada.png')!important;
            background-size: 100%!important;
            background-repeat: no-repeat!important;
            width: 341px;
            padding-top: 60px;
            padding-bottom: 60px;
            .ok-sop{
                margin-top: 44px;
                margin-bottom: 19px;
            }
        }        
    }
    .text-center{
        text-align: center;
    }
    .uk-button-danger{
        background: #FF0000;
    }
    .colorRed{
        color: #FF0000;
    }
}
