<div uk-grid class="container-my-orders">
  <div class="uk-width-1-6@m">
      <app-sidebar [isadmin]="false" [categoria]="categoria" ></app-sidebar>
    </div>
  <div class="uk-width-5-6@m scrollable-pannel">
    <div class="uk-container ">
      <div uk-grid >
        <div class="uk-width-2-2 nomar">
          <table class="uk-table">
            <caption><h3>Mis ordenes</h3></caption>
            <thead class="headOrders">
                <tr>
                    <th>Codigo</th>
                    <th>Fecha de orden</th>
                    <th>Cantidad</th>
                    <th>Envío</th>
                    <th>Total</th>
                    <th>Estado</th>
                </tr>
            </thead>
            
            <tbody class="bodyOrders" *ngIf="myOrders.orders">
                <tr *ngFor="let order of myOrders.orders">
                  <th (click)="orderDetail(order)" ><b>{{order.order}}</b></th>
                  <th>{{order.order_date | date}}</th>
                  <th>{{order.products.length}}</th>
                  <th>{{order.delivery | currency: '$'}}</th>
                  <th>{{order.ordertotal | currency: '$'}}</th>
                  <th class="relative">
                    {{status[order.status].type}}
                    <div class="identifier" [ngClass]="{'pending': order.status===0, 'ontrafic': order.status===1, 'successorder': order.status===2}"></div>  

                  </th>
                </tr>
            </tbody>
        </table>
        <div class="bodyOrders" *ngIf="!myOrders.orders">
            <h1 >Aun no tienes ordenes</h1>

              </div>
        </div>
      </div>
    </div>
    
  </div>






</div>


