<div class="ads-container-product ads-container-cart" uk-grid>
  <div class="uk-width-1-6@m">
    <app-sidebar></app-sidebar>
  </div>
  <div class="uk-width-5-6@m scrollable-pannel">
    <div class="uk-container adstore-paginator">
      <div uk-grid>
        <div class="uk-width-1-2@m">
          <h4>
            Carrito de compras
          </h4>
        </div>
      </div>
      <div uk-grid class="adstore-paginator-container">
        <div class="uk-width-1-2@m">
          <p class="colorR">
            Confirmar orden
          </p>
        </div>
      </div>
    </div>
    <div class="uk-container">
      <div uk-grid class="martop">
          <div class="uk-width-2-3@m">
              <div uk-grid class="stack-g-adsa">
                  <div class="uk-width-1-1@m backgroundF nopad">
                    <div uk-grid class="headerOrder nomar">
                        <div class="uk-width-2-3@m">
                          <!-- <img src="../../../assets/bridgestone-logo-cart.png" /> -->
                        </div>
                        <div class="uk-width-1-3@m textright">
                          <h3 class="nomar">Orden de compra:</h3>
                          <h3 class="nomar">{{order.order}}</h3>
                          <p class="nomar">{{today | date}}</p>
                        </div>
                    </div>
                    <!-- <div uk-grid class="nomar">
                        <div class="uk-width-1-1@m">
                          <h3>Orden de venta No. {{order.order}}</h3>
                        </div>
                    </div>    -->
                   <!-- <div uk-grid class="nomar headerInfo">
                         <div class="uk-width-1-4@m">
                          <p>FECHA</p>
                        </div>
                        <div class="uk-width-1-4@m">
                          <p>VENCIMIENTO</p>
                        </div> 
                        <div class="uk-width-1-4@m">
                          <p>FORMA DE PAGO</p>
                        </div>
                        <div class="uk-width-1-4@m">
                          <p>CÓDIGO DE CLIENTE</p>
                        </div>
                    </div> -->
                   <!-- <div uk-grid class="nomar">
                         <div class="uk-width-1-4@m">
                          <p>28/02/2019</p>
                        </div>
                        <div class="uk-width-1-4@m">
                          <p>28/02/2019</p>
                        </div>
                        <div class="uk-width-1-4@m">
                          <p>Crédito</p>
                        </div>
                        <div class="uk-width-1-4@m">
                          <p>{{userData._id | slice:0:6}}</p>
                        </div>
                    </div>  -->
                    <div uk-grid class="nomar headerInfo">
                        <div class="uk-width-1-4@m">
                          <p>FACTURADO A:</p>
                        </div>
                    </div> 
                    <div uk-grid class="nomar">
                        <div class="uk-width-1-2@m">
                          <p>Cliente: <span class="clientNAME">{{userData.username}}</span></p>
                          <p>NIT: <span class="clientNAME">{{userData.nit}}</span></p>
                          <p>E-mail: <span class="clientNAME">{{userData.email}}</span></p>
                        </div>
                        <div class="uk-width-1-2@m">
                            <p *ngIf="userData.phones && userData.phones.length">Teléfono: <span class="clientNAME">{{userData.phones[0]}}</span></p>
                            <p *ngIf="userData.city && userData.city.length">Ciudad de entrega: <span class="clientNAME">{{userData.city}}</span></p>
                            <p *ngIf="userData.address && userData.address.length">Dirección de entrega: <span class="clientNAME">{{userData.address}}</span></p>
                        </div>
                    </div> 
                    <div uk-grid class="nomar">
                        <div class="uk-width-1-3@m">
                          <p><b>Item</b></p>
                        </div>
                        <div class="uk-width-1-3@m">
                          <p><b>Cantidad</b></p>
                        </div>
                        <div class="uk-width-1-3@m">
                          <p><b>Total</b></p>
                        </div>
                    </div>                    
                    <div uk-grid class="nomar cont-products-list-container" >
                      <div class="uk-container products-list-container uk-width-1-1@m">
                        <div uk-grid *ngFor="let product of products" class="p_pr nomar">
                            <div class="uk-width-1-3@m">
                                <p>{{product.title}}</p>
                              </div>
                              <div class="uk-width-1-3@m">
                                <p>Unidades: {{product.quantity}}</p>
                                <p *ngIf="product.ismultiple"> Cantidad y/o unidades del producto: {{  product.multiplicate}}</p>
                              </div>
                              <div class="uk-width-1-3@m nopad">
                                <p>{{product.price}}</p>
                                <p *ngIf="product.ismultiple"> Total con cantidad y/o unidades del producto: <b>{{ (product.price * product.quantity) * product.multiplicate | currency: '$'}} </b></p>
                              </div>
                        </div>
                      </div>
                      
                    </div>  
                    <div uk-grid class="nomar">
                        <div class="uk-width-2-3@m">
                        </div>
                        <div class="uk-width-1-3@m">
                          <div uk-grid>
                              <div class="uk-width-1-2@m nomar">
                                <p class="nomar"><b>Subtotal</b></p>
                              </div>
                              <div class="uk-width-1-2@m nomar">
                                  <p class="nomar">{{totalCart | currency: '$'}}</p>
                                </div>
                              <div class="uk-width-1-2@m nomar bbutton">
                                <p class="nomar"><b>Envío</b></p>
                              </div>
                              <div class="uk-width-1-2@m nomar bbutton">
                                  <p class="nomar"><b>50</b></p>
                              </div>
                              <div class="uk-width-1-2@m nomar">
                                  <p class="nomar colorRed"><b>Total</b></p>
                                </div>
                                <div class="uk-width-1-2@m nomar">
                                    <p class="nomar colorRed"><b>{{totalCart | currency: '$'}}</b></p>
                              </div>
                              
                          </div>
                        </div>
                    </div>  
                  </div>
              </div>
              <div uk-grid>
                <div class="uk-width-1-1 text-center">
                    <button type="button" (click)="shopNow()" [disabled]="isloading" class="uk-button uk-button-danger submitBtn">Finalizar compra</button>
                </div>
                <div class="uk-width-1-1 text-center">
                    <button type="button" class="uk-button uk-button-danger submitBtn" routerLink="/carrito-de-compras">Volver a editar</button>
                </div>
              </div>
          </div>
      </div> 
    </div> 
  </div>
</div>


<div id="order-success" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical text-center">

      <button class="uk-modal-close-default" type="button" uk-close></button>

     <button type="button" class="uk-button uk-button-danger submitBtn ok-sop" (click)="closeAndComeBack()" >Aceptar</button>

  </div>
</div>