<nav class="uk-navbar-container uk-margin adstore-search-bar" uk-navbar>
    <div class="uk-navbar-center">
        <div class="uk-navbar-item">
            <form class="uk-search uk-search-default">
                <span class="uk-search-icon-flip" uk-search-icon></span>
                <input class="uk-search-input" type="search" placeholder="Search...">
            </form>
        </div>
        <div class="uk-navbar-item pointer" routerLink="carrito-de-compras">
            <form class="uk-search info-coins pointer">
                <span class="uk-form-icon uk-form-icon pointer" uk-icon="icon: cart"></span>
                <input class="uk-input pointer" type="text" name="totalcart" value="$ 50" [(ngModel)]="products.length" disabled>
            </form>
        </div>
        <!-- <div class="uk-navbar-item">
            <form class="uk-search info-coins">
                <span class="uk-form-icon uk-form-icon" uk-icon="icon:  credit-card"></span>
                <input currencyMask class="uk-input" type="text" value="$ 0" name="coins" [(ngModel)]="userData.coins"  [options]="{ prefix: '$ ', thousands: '.', precision: 0 }"  disabled>
            </form>                
        </div> -->
    </div>
</nav>