.adstore-search-bar{
    margin-bottom: 0px;
    background: #fff;
    border-bottom: 1px solid #ABABAB;
    .uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle{
        min-height: 50px;
    }
    .info-coins {
        max-width: 167px;
        border: 1px solid #ABABAB;
        span{
            background: #DFDFDF;
        }
        input{
            padding-left: 47px !important;
        }
    }
    .uk-search-default .uk-search-input {
        height: 40px;
        padding-left: 6px;
        padding-right: 6px;
        background: #DFDFDF;
        border: 1px solid #e5e5e5;
    }
    .uk-search-default {
        width: 51vw;
        border: 1px solid #ABABAB;
    }
    .uk-search .uk-search-icon-flip{
        background: #FF0000;
        color: #fff;
    }
    .pointer{
        cursor: pointer;
    }
}