.ads-container-cart{
    .martitleproduct{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .text-center{
        text-align: center;
    }
    background: #F5F5F5;
    .adstore-paginator{
        .colorR{
            color: #DE1C24;
        }
        .adstore-paginator-container{
            margin-top: 0px;
            border-top: 1px solid rgba(96, 96, 96, 0.57);
            border-bottom: 1px solid rgba(96, 96, 96, 0.57);
        }
    }
    .nomar{
        margin: 0 auto;
    }
    .columnForTrash{
        background: #fff;
        color: red;
        text-align: center;
        line-height: 10;
        padding-left: 0px;
        margin-left: 10px;
        width: 9%;
    }
    .backgroundF{
        background: #fff;
        border-radius: 5px;
    }
    .pointer{
        cursor: pointer;
    }
    .coorGreen{
        color: #0B6D00;
    }
    .sizedesc{
        font-size: 12px;
    }
    .borderB{
        border-bottom: 0.5px solid #ABABAB;
        padding: 0pc;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nopad{
        padding: 0px;
    }
    .marProductResume{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .martop{
        margin-top: 20px;
    }
    .paddCard{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .fullwidth{
        width: 100%;
    }
    .addToCard{
        margin-left: -20px;
    }
}