<div class="ads-container-product ads-container-cart" uk-grid>
    <div class="uk-width-1-6@m">
      <app-sidebar></app-sidebar>
    </div>
    <div class="uk-width-5-6@m scrollable-pannel">
      <div class="uk-container adstore-paginator">
        <div uk-grid>
            <div class="uk-width-1-2@m">
                <h4>
                  Carrito de compras
                </h4>
              </div>
        </div>
        <div uk-grid class="adstore-paginator-container">
          <div class="uk-width-1-2@m">
            <p class="colorR">
              Resultados: {{products.length}} productos
            </p>
          </div>
        </div>
      </div>
      <div class="uk-container">
        <div uk-grid class="martop">
            <div class="uk-width-2-3@m">
                <div uk-grid class="stack-g-adsa">
                    <div class="uk-width-1-1@m backgroundF" *ngFor="let product of products">
                      <div uk-grid>
                          <div class="uk-width-1-5@m columnForTrash pointer" (click)="removeItem(product.id)">
                              <span uk-icon="icon: trash"></span>
                          </div>
                          <div class="uk-width-4-5@m">
                              <div uk-grid>
                                  <div class="uk-width-1-3@m">
                                    <img [src]="globaluri+product.photo">
                                  </div>
                                  <div class="uk-width-1-3@m">
                                      <h5 class="martitleproduct">{{product.title}}</h5>
                                      <p class="nomar sizedesc">{{product.price | currency: '$'}}</p>
                                      <p class="specsFonts coorGreen nomar sizedesc" [routerLink]="goto">Entrega de {{product.mindelivery}} a {{product.maxdelivery}} dias hábiles</p>
                                      <div class="nomar sizedesc"><b>Cantidad: </b>
                                        <div class="uk-form-controls">
                                          <select class="uk-select" id="form-stacked-select" name="quantity" (change)="updateProduct(product)" [(ngModel)]="product.quantity">
                                              <option *ngFor="let counter of product.count " [ngValue]="counter" >{{counter}}</option>
                                          </select>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@m">
              <div uk-grid>
                  <div class="uk-width-1-1@m">
                      <div class="backgroundF nomar paddCard" uk-grid>
                        <div class="uk-width-1-1@m borderB text-center">
                          <h5>Resumen de tu pedido</h5>
                        </div>
                        <div class="uk-width-1-1@m nomar nopad" *ngFor="let product of products">
                          <div class="nomar borderB" uk-grid>
                            <div class="uk-width-1-2@m">
                                <p class="sizedesc marProductResume"><b>{{product.title}}</b></p>
                            </div>
                            <div class="uk-width-1-2@m">
                                <p class="sizedesc marProductResume">{{product.price | currency: '$'}} C/{{product.type_unit}}</p>
                                <p class="sizedesc marProductResume"> Subtotal: {{product.price * product.quantity | currency: '$'}}</p>
                                <p class="sizedesc marProductResume" *ngIf="product.ismultiple"> Subtotal con cantidad y/o unidades del producto: {{ (product.price * product.quantity) * product.multiplicate | currency: '$'}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="uk-width-1-1@m borderB">
                            <div class="nomar nopad" uk-grid>
                                <div class="uk-width-1-2@m">
                                  <b>TOTAL: </b>
                                </div>
                                <div class="uk-width-1-2@m">
                                    {{totalCart | currency: '$'}}
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-1-1@m">
                          <button routerLink="/confirmar-order" class="uk-button uk-button-danger addToCard fullwidth">Procesar compra</button>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
        </div> 
      </div> 
    </div>
  </div>