/* You can add global styles to this file, and also import other style files */
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";
*:focus { outline: none; }
.scrollable-pannel{
    height: calc(100vh - 136px);
    overflow-y: scroll;
}
body{
    overflow: hidden;
}